.card-header {
 background-color:lightcoral;
}
.container{
    background: radial-gradient(black, transparent);
}
body{
    background: floralwhite;
}
.team-heading{
    background-color: lightcoral;
}

.card {
    width: 100%;
}